﻿
@{
    ViewData["Title"] = "Premium rate";
    ViewData["Step"] = "3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_StepWizard")

<h2> อัตราเบี้ยประกันภัย </h2>
<div class="row top-buffer">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <form>
                <div class="col-md-8">
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Basic Fire Rate</label>
                        <input type="text" class="form-control" />
                        <small id="" class="text-muted">min 40 - max 9000</small>
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Basic Fire Permium</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Long term rate(%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Long term premium (%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Short term rate(%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Short term permium (%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">HB rate (%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">HB permium (%)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Surcharge(block/not isorate)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">Surcharge(block/not isorate premium)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">ส่วนลด Fire protection</label>
                        <input type="text" class="form-control" />
                        <small id="" class="text-muted">(ลดสูงสุดไม่เกิน 35%)</small>
                    </div>
                    <div class="form-group col-xs-10 col-md-6">
                        <label for="">ส่วนลด Fire protection</label>
                        <input type="text" class="form-control" />
                        <small id="" class="text-muted">(สำหรับทุนประกันตั้งแต่ 10 ล้าน ขึ้นไป ต่อสถานที่เอาประกันสูงสุดไม่เกิน 15%)</small>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 bg-danger">
                    <div class="col-md-6 text-right">
                        <p>Net primium : </p>
                        <p>Stam duty : </p>
                        <p>VAT : </p>
                        <p>Total primium : </p>
                    </div>
                    <div class="col-md-6">
                        <p><span>1000000</span></p>
                        <p><span>100000</span></p>
                        <p><span>10000</span></p>
                        <p><span>1110000</span></p>
                    </div>
                </div>
            </form>

            <div class="col-xs-10 col-md-6">
                <div>
                    <a asp-controller="BuildingDescription" asp-action="Index" class="btn btn-primary">Save Continue</a>
                </div>
                <div>
                    <a asp-controller="LocationPeril" asp-action="Index" class="">Save Back</a>
                </div>
            </div>
        </div>

    </div>
</div>
