﻿@{
    ViewData["Title"] = "Claused";
    ViewData["Step"] = "6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- @await Html.PartialAsync("_JumboBrand") -->
@await Html.PartialAsync("_StepWizard")
<h2> Spacial Claused & Exclusion / เงื่อนไขพิเศษและข้อยกเว้นสำคัญ</h2>
<div class="row top-buffer">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <div id="spacial-pd" class="top-buffer">
                <button type="button" class="btn btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <b> Spacial Claused PD </b>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="" class="list-group-item">Morbi leo risus</a>
                    <a href="" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>

            <div id="spacial-bi">
                <button type="button" class="btn btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <b> Sapacial Claused BI </b>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="" class="list-group-item">
                        Cras justo odio
                    </a>
                    <a href="" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="" class="list-group-item">Morbi leo risus</a>
                    <a href="" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>

            <div id="attachment-list">
                <button type="button" class="btn btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <b> Attchtment list </b>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="" class="list-group-item">Attchtment list</a>
                    <a href="" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="" class="list-group-item">Morbi leo risus</a>
                    <a href="" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>

            <div>
                <div >
                    <a asp-controller="Aditional" asp-action="Index" class="btn btn-danger">Save Back</a>
                    <a asp-controller="Document" asp-action="Index" class="btn btn-primary">Save next</a>
                </div>
            </div>
        </div>
    </div>
</div>


