﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">
            <span class="text-info">7</span> STEP
        </h1>
        <h1 class="text-center">
            <span>SUCCESS</span>
        </h1>
        <h2 class="text-center">
            With Quatation Tools
        </h2>
    </div>
</div>