﻿<div class="row margin-bottom">
    <div class="col-md-3 ">
        <div class="media quotation-pendding bg-danger">
            <div class="media-left media-middle">
                <a asp-area="" asp-controller="Quotation" asp-action="Index">
                    <span class="glyphicon glyphicon-time glyphicon-jumbo" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <h1> 20 </h1>
                <p> ใบเสนอราคา </p>
                <strong> รอดำเนินการ </strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="media quotation-pendding bg-info">
            <div class="media-left media-middle">
                <a asp-area="" asp-controller="Quotation" asp-action="Index">
                    <span class="glyphicon glyphicon-file glyphicon-jumbo" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <h1> 20 </h1>
                <p> ใบเสนอราคา </p>
                <strong> ที่รับผิดชอบ </strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="media quotation-pendding bg-warning">
            <div class="media-left media-middle">
                <a asp-area="" asp-controller="Quotation" asp-action="Index">
                    <span class="glyphicon glyphicon-inbox glyphicon-jumbo" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <h1> 20 </h1>
                <p> ใบเสนอราคา </p>
                <strong> ของฉัน </strong>
            </div>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="media quotation-pendding bg-success">
            <div class="media-left media-middle">
                <a asp-area="" asp-controller="Quotation" asp-action="Index">
                    <span class="glyphicon glyphicon-menu-hamburger glyphicon-jumbo" aria-hidden="true"></span>
                </a>
            </div>
            <div class="media-body">
                <h1> 20 </h1>
                <p> ใบเสนอราคา </p>
                <strong> ทั้งหมด </strong>
            </div>
        </div>
    </div>
</div>