 <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a asp-controller="Home" asp-action="index" >Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a asp-controller="Quotation" asp-action="index" >Quotaion</a></li>
        <li><a asp-controller="Customer" asp-action="index" >Customer</a></li>
    </ul>
</div>