﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row form-group">
    <input id="wizardStep" type="hidden" value="@ViewData["Step"]" />
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="disabled">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Customer</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Category </p>

                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Location </p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-4">
                    <h4 class="list-group-item-heading">Step 4</h4>
                    <p class="list-group-item-text">Coverage</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-5">
                    <h4 class="list-group-item-heading">Step 5</h4>
                    <p class="list-group-item-text">Addition Peril</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-6">
                    <h4 class="list-group-item-heading">Step 6</h4>
                    <p class="list-group-item-text">Claused </p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-7">
                    <h4 class="list-group-item-heading">Step 7</h4>
                    <p class="list-group-item-text">Seventh step </p>
                </a>
            </li>
        </ul>
    </div>
</div>
