﻿@{
    ViewData["Title"] = "Home Page";
}

<h1 class="page-header">Dashboard</h1>

@await Html.PartialAsync("_ShortcutFilterV2")
<div class="row">
    <div class="col-lg-offset-3 col-md-6">
        <canvas id="pieChart" width="200" height="200" class="text-center"></canvas>
    </div>
</div>