﻿
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /*background: #e2e1e0;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    min-height: 700px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.concat div {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;
}

set-width-100 {
    max-width: 100px
}

.top-buffer {
    margin-top: 1em;
}

.quotation-pendding {
    padding: 30px;
    border-radius: 10px;
}

.glyphicon-jumbo {
    font-size: 100px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.panel-title.fit {
    padding-top: 7.5px;
}

.nounderline {
    text-decoration: none;
}

.form-login {
    margin: auto;
    max-width: 300px;
    top: 50%;
    left: 50%;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.list-group-item {
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
}

.list-group-item > a {
    text-decoration: none;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

ol.breadcrumb > li > a:hover{
    text-decoration: none;
}