﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_StepWizard")

<h2> อัพโหลดเอกสารเพิ่มเติม </h2>
<div class="row top-buffer">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <form>
                <div class="form-group col-xs-10 col-md-6">
                    <label for="">ใบประเมินราคา</label>
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-10 col-md-6">
                    <label for="">คำสั่งธนาคาร</label>
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-10 col-md-6">
                    <label for="">สำเนากรมธรรม์เดิม</label>
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-10 col-md-6">
                    <label for="">Survey Report</label>
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-10 col-md-6">
                    <label for="">รูปถ่าย</label>
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-10 col-md-4">
                    <a asp-controller="Claused" asp-action="Index" class="btn btn-danger">Save Back</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Finish & Create qouation</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $("form").find("input").each().fileinput();
</script>