﻿
@{
    ViewData["Title"] = "Location Asset";
    ViewData["Step"] = "3";
}

@await Html.PartialAsync("_StepWizard")

<h2> สถานที่ตั้งทรัพย์สิน </h2>
<div class="row top-buffer">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <form>
                <div class="">
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="businessType">รหัสนิคมอุสาหกรรม</label>
                        <select id="businessType" class="form-control">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="checkbox col-xs-10 col-md-4 top-buffer">
                        <label>
                            <input type="checkbox"> Check Block Accum?
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">เลขที่</label>
                        <select id="package" class="form-control">
                            <option value=""></option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">Register Block</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">Address 1</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">Address 2</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">ถนน</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">จังหวัด</label>
                        <select id="package" class="form-control">
                            <option value=""></option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">อำเภอ</label>
                        <select id="package" class="form-control">
                            <option value=""></option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">ตำบล</label>
                        <select id="package" class="form-control">
                            <option value=""></option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">รหัสไปรษณีย์</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">External Exposure</label>
                        <select id="package" class="form-control">
                            <option value=""></option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                            <option value="bangkok">Bangkok</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">Latitude</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">Longtitude</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-10 col-md-4">
                        <div>
                            <a asp-controller="BuildingDetail" asp-action="Index" class="btn btn-primary">Save Continue</a>
                        </div>
                        <div>
                            <a asp-controller="Location" asp-action="Index" class="">Save Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>