﻿
@{
    ViewData["Title"] = "Quotation";
}

<ol class="breadcrumb">
    <li> </li>
    <li class="active">Quotation</li>
</ol>
<hr/>
<!-- @await Html.PartialAsync("_ShortcutFilterV2") -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    Qoutation
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn-sm btn-default" aria-label="Left Align">
                               <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn-sm btn-danger" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn-sm btn-info" aria-label="Left Align">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn-sm btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>                        
                        </div>
                        <div class="col-sm-6">
                            <a asp-area="" asp-controller="Customer" asp-action="Index" class="btn-sm btn-primary pull-right"> สร้างใบเสนอ</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 top-buffer">
                            <table class="table table-striped table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <td class="col-md-2">เลขที่</td>
                                        <td class="col-md-3">รายการ</td>
                                        <td class="col-md-2">ทุนประกัน</td>
                                        <td class="col-md-1">เบี้ยประกัน</td>
                                        <td class="col-md-2">ผู้เอาประกัน</td>
                                        <td class="col-md-2">สถานะเอกสาร</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    </tr>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    <tr>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                        <td>111111111111</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
