﻿
@{
    ViewData["Title"] = "Building description";
    ViewData["Step"] = "3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_StepWizard")
    <h2> Description of building </h2>
    <div class="row top-buffer">
        <div class="col-md-12">
            <hr />
            <div class="col-md-12 card card-3">
                <div class="col-md-8">
                    <form>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">จำนวนห้อง</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">จำนวนชั้น</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">ขนาดพื้นที่</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">ผนังด้านนอก</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">พื้นชั้นบน</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">โครงหลังคา</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">หลังคา</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">ผนัง</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">เสา/กำแพงรับแรง</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">คาน</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-xs-10 col-md-6">
                            <label for="">พื้น</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="clearfix"></div>



                    </form>
                    <div class="col-xs-10 col-md-6">
                        <div>
                            <a asp-controller="Location" asp-action="Index" class="btn btn-primary">Confirm</a>
                        </div>
                        <div>
                            <a asp-controller="Premium" asp-action="Index" class="">Save Back</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>