﻿
@{
    ViewData["Title"] = "Aditionnal";
    ViewData["Step"] = "5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_StepWizard")
    <h2>Addition Peril</h2>
    <div class="row top-buffer">
        <div class="col-md-12">
            <hr />
            <div class="col-md-12 card card-3">
                <div id="locationPeril" class="panel-body">
                    <div class="form-group">
                        <button id="addProperty" type="button" class="btn btn-success" aria-label="Left Align">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Peril
                        </button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="">รหัส</td>
                                <td class="">รายละเอียด</td>
                                <td class="">Min</td>
                                <td class="">Max</td>
                                <td class="">Rate</td>
                                <td class="">ทุุนประกัน</td>
                                <td class="">เบี้ยประกัน</td>
                                <td class="">หมายเหตุ</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>123456789</td>
                                <td>ความคุมครองความเสียหายจากน้ำท่วม</td>
                                <td>50000</td>
                                <td>100000</td>
                                <td>100</td>
                                <td>1,000,000</td>
                                <td>50000</td>
                                <td>??????????</td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>ความคุมครองความเสียหายจากน้ำท่วม</td>
                                <td>50000</td>
                                <td>100000</td>
                                <td>100</td>
                                <td>1,000,000</td>
                                <td>50000</td>
                                <td>??????????</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="">
                        <a asp-controller="Coverage" asp-action="Index" class="btn btn-danger">Save Back</a>
                        <a asp-controller="Claused" asp-action="Index" class="btn btn-primary">Save next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>