﻿
@{
    ViewData["Title"] = "Property Ensured";
    ViewData["Step"] = "3";
}

@await Html.PartialAsync("_StepWizard")

<h2> ทรัพย์สินที่เอาประกันภัย </h2>
<div class="row top-buffer">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <form >
                <div class="form-group">
                    <button type="button" class="btn btn-success" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Property Ensured
                    </button>
                </div>
                <div id="dynamic-ensured" class="">
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="businessType">List of Property Ensured</label>
                        <select id="businessType" class="form-control">
                            <option value="home">ตัวบ้านไม่รวมฐานราก </option>
                            <option value="tenant">ทรัพย์สินภายในบ้าน </option>
                            <option value="tenant">สต๊อกสินค้า </option>

                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-3">
                        <label for="businessType">Insured cover</label>
                        <input type="number" name="insured-cover" min="0" step="1000" max="10000000" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <div class="col-md-offset-4 col-md-3" id="summary">
                <p> ทุนเอาประกันทั้งสิ้น : <span>0</span></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-10 col-md-4">
                <div>
                    <a asp-controller="LocationPeril" asp-action="Index" class="btn btn-primary">Save Continue</a>
                </div>
                <div>
                    <a asp-controller="BuildingDetail" asp-action="Index" class="">Save Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
