﻿
@{
    ViewData["Title"] = "Location";
    ViewData["Step"] = "3";
}

<!-- @await Html.PartialAsync("_JumboBrand") -->
@await Html.PartialAsync("_StepWizard")
    <h2> Location ( ระบุสถานที่เอาประกันภัย ) </h2>
    <div class="row top-buffer">
        <div class="col-md-12">
            <hr />
            <div class="col-md-12 card card-3">
                <div>
                    <a asp-controller="LocationAsset" asp-action="Index" class="btn btn-success" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add Location
                    </a>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td class="">สถานที่ตั้งทรัพย์สิน</td>
                                <td class="">สถานที่ใช้เป็น</td>
                                <td class="">ทุนประกันรวม</td>
                                <td class="">Type of Owner</td>
                                <td class="">ลักษณะทรัพย์สิน</td>
                                <td class="">สัดส่วน %</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>404 The Prima พหลโยธิน</td>
                                <td>???</td>
                                <td>1,000,000</td>
                                <td>Owner</td>
                                <td>บ้านเดี่ยว</td>
                                <td>50 %</td>
                            </tr>
                            <tr>
                                <td>404 The Prima พหลโยธิน</td>
                                <td>???</td>
                                <td>1,000,000</td>
                                <td>Owner</td>
                                <td>บ้านเดี่ยว</td>
                                <td>50 %</td>
                            </tr>
                            <tr>
                                <td>404 The Prima พหลโยธิน</td>
                                <td>???</td>
                                <td>1,000,000</td>
                                <td>Owner</td>
                                <td>บ้านเดี่ยว</td>
                                <td>50 %</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a asp-controller="Category" asp-action="Index" class="btn btn-danger">Save Back</a>
                        <a asp-controller="Coverage" asp-action="Index" class="btn btn-primary">Save next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
