@{
    ViewData["Title"] = "Customer details";
}
<ol class="breadcrumb">
    <li> <a asp-controller="customer" asp-action="index">Customer</a> </li>
    <li class="active">cus_123456789</li>
</ol>
<hr/>
<div class="row">
    <div class="col-lg-6">
         <a class="btn btn-sm btn-primary"> JoneDoe@gmail.com </a>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-lg-3">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <i class="glyphicon glyphicon-th-list"></i>                
                Action
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                 <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="1" class="show nounderline btn">
                                Create 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <i class="glyphicon glyphicon-th-list"></i>                
                Quotations
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                 <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline">
                                    <span class="" style="margin-right:5px"> qua_112312123 </span>
                                    <span class=""> 7617782910 </span>
                                    <span class="pull-right text-danger"> 2015-11-11 </span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                 <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline">
                                    <span class="" style="margin-right:5px"> qua_112312123 </span>
                                    <span class=""> 7617782910 </span>
                                    <span class="pull-right text-danger"> 2015-11-11 </span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                 <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline">
                                    <span class="" style="margin-right:5px"> qua_112312123 </span>
                                    <span class=""> 7617782910 </span>
                                    <span class="pull-right text-danger"> 2015-11-11 </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>