﻿
@{
    ViewData["Title"] = "Customer";
    ViewData["Step"] = "1";
}
<!-- @await Html.PartialAsync("_StepWizard") -->
<ol class="breadcrumb">
    <li> </li>
    <li class="active">Customer</li>
</ol>

<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#customer-search">
                Search filter
                <span class="caret"></span>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#"> Add customer</a></li>
                    </ul>
                </div>  
            </div>
            <div id="customer-search" class="panel-body collapse">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
                    <li><a data-toggle="tab" href="#company">Company</a></li>
                    <li><a data-toggle="tab" href="#id-card">ID Card</a></li>
                </ul>
                <div class="tab-content">
                    <div id="personal" class="tab-pane fade in active">
                        <h3>Personal</h3>
                        <hr />
                        <form class="form">
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="customerID" class=" control-label">รหัสลูกค้า</label>
                                <input type="text" class="form-control" id="customerID" placeholder="รหัสลูกค้า">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="customerName" class="control-label">ชื่อลูกค้า</label>
                                <input type="text" class="form-control" id="customerName" placeholder="ชื่อลูกค้า" value="jone">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="customerSurname" class="control-label">นามสกุลลุกค้า</label>
                                <input type="text" class="form-control" id="customerSurname" placeholder="นามสกุลลุกค้า" value="Doe">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <button type="submit" class="btn btn-primary pull-right">Search</button>
                            </div>
                        </form>
                    </div>
                    <div id="company" class="tab-pane fade">
                        <h3>Company Search</h3>
                        <hr>
                        <form class="form">
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="companyID" class="control-label">รหัสหน่วยงาน</label>
                                <input type="text" class="form-control" id="companyID" placeholder="รหัสหน่วยงาน">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="companyName" class="control-label">ชื่อลูกค้า</label>
                                <input type="text" class="form-control" id="companyName" placeholder="ชื่อลูกค้า">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <label for="departmentname" class="control-label">แผนก</label>
                                <input type="text" class="form-control" id="departmentname" placeholder="แผนก">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <button type="submit" class="btn btn-primary pull-right">Search</button>
                            </div>
                        </form>
                    </div>
                    <div id="id-card" class="tab-pane fade">
                        <h3>ID Card</h3>
                        <hr>
                        <form class="form">
                                <div class="form-group col-xs-10 col-md-4">
                                <label for="IDCard" class="control-label">ID Card</label>
                                <input type="text" class="form-control" id="IDCard" placeholder="ID Card">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-xs-10 col-md-4">
                                <button type="submit" class="btn btn-primary pull-right">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search Result
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline" style="">
                                            <span class="text-primary" style="">Jone Doe</span>
                                            <span class="text-muted	">cus_7617782910 </span>
                                            <span class="pull-right text-danger"> 2015-11-11 </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline" style="">
                                            <span class="text-primary" style="">Jan Doe</span>
                                            <span class="text-muted	">cus_1234567890 </span>
                                            <span class="pull-right text-danger"> 2015-11-11 </span>
                                        </a>
                                    </li>
                                        <li class="list-group-item">
                                        <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline" style="">
                                            <span class="text-primary" style="">Jim Doe</span>
                                            <span class="text-muted	">cus_9876543210 </span>
                                            <span class="pull-right text-danger"> 2015-11-11 </span>
                                        </a>
                                    </li>
                                        <li class="list-group-item">
                                        <a asp-area="" asp-controller="Customer" asp-action="Details" asp-route-id="1" class="show nounderline" style="">
                                            <span class="text-primary" style="">Jo Doe</span>
                                            <span class="text-muted	">cus_7617782910 </span>
                                            <span class="pull-right text-danger"> 2015-11-11 </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fab fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                </span>
                            </a>
                            <!-- <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small"><em>11:32 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                <span class="pull-right text-muted small"><em>11:13 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                <span class="pull-right text-muted small"><em>10:57 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                <span class="pull-right text-muted small"><em>9:49 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-money fa-fw"></i> Payment Received
                                <span class="pull-right text-muted small"><em>Yesterday</em>
                                </span>
                            </a> -->
                        </div>
                        <!-- /.list-group -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>
