﻿
@{
    ViewData["Title"] = "Category";
    ViewData["Step"] = "2";
}
<ol class="breadcrumb">
    <li>Customer</li>
    <li class="active">cus_7617782910</li>
</ol>
<hr/>

@await Html.PartialAsync("_StepWizard")

<h2> Category (ประเภทการเอาประกันภัย) </h2>
<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="col-md-12 card card-3">
            <form>
                <div class="">
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="broker">เอเจนท์ โบรกเกอร์</label>
                        <select id="broker" class="form-control">
                            <option value="walk-in">Walk-in</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="broker">Chanel</label>
                        <select id="broker" class="form-control">
                            <option value="bank">SCB</option>
                            <option value="walk-in">LH Bank</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="businessType">ประเภทธุระกิจ</label>
                        <select id="" class="form-control">
                            <option value="volvo">Private Property</option>
                            <option value="sme">SMEs</option>
                            <option value="comercail">Commercial</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="businessType">ประเภทการประกันภัย</label>
                        <select id="" class="form-control">
                            <option value="fire">Fire</option>
                            <option value="iar">IAR</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4" >
                        <label for="package">Package</label>
                        <select id="selected-package" class="form-control" disabled>
                            <option value=""></option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="checkbox col-xs-10 col-md-4 top-buffer">
                        <div id="package-toggle" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="options" value="non-package" checked> Non-package
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" value="package"> Package
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">วันที่เสนอราคา</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="checkbox col-xs-10 col-md-4 top-buffer">
                        <div id="exprired-date-toggle" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="options" value="non-package" checked> 30 วัน
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" value="package"> 60 วัน
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">เงื่อนไขระยะเวลาเอาประกัน</label>
                        <select id="" class="form-control">
                            <option value="saab">1 ปี</option>
                            <option value="fiat">Short term</option>
                            <option value="audi">Long term</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">เลือกระยะเวลา</label>
                        <select id="" class="form-control">
                            <option value="saab">3 เดือน</option>
                            <option value="fiat">6 เดือน</option>
                            <option value="audi">12 เดือน</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">ระยะเวลาเอาประกันภัยจาก</label>
                        <input type="datetime" class="form-control" />
                    </div>
                    <div class="form-group col-xs-10 col-md-4">
                        <label for="package">ระยะเวลาเอาประกันภัยถึง</label>
                        <input type="datetime" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-10 col-md-4">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-danger">Save Back</a>
                        <a asp-controller="Location" asp-action="Index" class="btn btn-primary">Save next</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
