﻿
@{
    ViewData["Title"] = "Buiding Details";
    ViewData["Step"] = "3";
}

@await Html.PartialAsync("_StepWizard")
@await Html.PartialAsync("_riskModal")

    <h2> รายละเอียดเกี่ยวกับสิ่งก่อสร้าง </h2>
    <div class="row top-buffer">
        <div class="col-md-12">
            <hr />
            <div class="col-md-12 card card-3">
                <form>
                    <div class="">
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="businessType">Type of ownfer</label>
                            <select id="businessType" class="form-control">
                                <option value="owner">Owner</option>
                                <option value="tenant">Tenant</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="businessType">ลักษณะทรัพย์สิน</label>
                            <select id="businessType" class="form-control">
                                <option value="owner">Owner</option>
                                <option value="tenant">Tenant</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="package">ชั้นที่</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="businessType">ลักษณะสิ่งก่อสร้าง</label>
                            <select id="businessType" class="form-control">
                                <option value="owner">Owner</option>
                                <option value="tenant">Tenant</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="package">สถานที่ใช้เป็น</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div id="risk-code" class="form-group col-xs-10 col-md-4">                            
                            <label for="package">รหัสภัย</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Risk code...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#riskSearchModal">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                            <!-- <input type="text" class="form-control" /> -->
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="package">ชั้นของสิ่งปลูกสร้าง</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-10 col-md-4">
                            <label for="package">สัดส่วนที่บริษัทรับความเสี่ยง</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="0-100" value="100">
                                <span class="input-group-addon" id="basic-addon1">%</span>
                            </div>
                             <small class="help-block">0 - 100</small>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-10 col-md-4">
                            <div>
                                <a asp-controller="PropertyEnsured" asp-action="Index" class="btn btn-primary">Save Continue</a>
                            </div>
                            <div>
                                <a asp-controller="LocationAsset" asp-action="Index" class="">Save Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>